<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.skimap"
	android:versionCode="4"
	android:versionName="0.9.3"
	android:installLocation="auto">
	
	<!--
	PRED UPDATEM:
	-doplnit changelog, upravit text v about a v marketu
	-nastavit novou verzi v manifestu
	-nastavit map API key
	-nastavit Localytics API key
	-->
	 
	<!--
	RELEASE INFO:
	name:0.9   - code:1 - date:21.12.2011
	name:0.9.1 - code:2 - date:27.12.2011
	name:0.9.2 - code:3 - date:02.01.2012
	name:0.9.3 - code:4 - date:05.01.2012
	-->
	 
	<!--
	TODO:
	-rozklik detailu v mape na split screen
	-v listingu pri vyhledavani pri rotaci zarizeni zmizi obsah
	-jednotny styl vyhledavaciho dialogu
	-filtr statu
	-naseptavac stredisek
	-opravit nahlasene vyjimky
	-poresit synchronizaci vlaken
	-osetrit uvaznuti synchronizace, popr. tlacitko stop synchro
	-jazykove mutace (slovenstina, nemcina, italstina)
	-oblibene
	-tabs - all, favourite, recommended
	-razeni skicenter, groupovani
	-tablet layout
	-zobrazeni obrazku webkamery v detailu a kesovani
	-prevodnik men do nativni meny
	-upozornit pokud jsou data starsi nez 1 den, nebo vypsat stari dat
	-pie chart pro typy sjezdovek v detailu (cerna, modra, cervena)
	-longclick kontextove menu
	-zoomovani dvojtapnutim
	-pri velkem oddaleni - nizsi rozliseni car
	-vysvetlivky barev v mape
	-meritko v mape
	-osetrit jazyky v databazi - perex, nazvy statu, nazvy stredisek
	-overlay okenko pres mapu s informacemi o aktualnim stredisku, zmena informaci pri zmene polohy na mape (pouze tablet)
	-dokumentovat kod
	-zmapovani konkurence
	-databaze pres ContentProvider
	-vyzva k ohodnoceni aplikace - v onCreate, ale ne pri prvnim pusteni
	-updatovat sherlock
	-->
      
    <uses-sdk android:minSdkVersion="7" />
    <uses-sdk android:targetSdkVersion="13" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:name=".activities.SkimapApplication" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.SkiMap">
    	<uses-library android:name="com.google.android.maps" />
    
        <activity android:name=".activities.MapActivity" 
            android:label="@string/app_name" 
            android:launchMode="singleTop"
            android:logo="@drawable/ab_logo"
            android:theme="@style/Theme.SkiMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable_location" />
        </activity>
	    
        <activity android:name=".activities.ListingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable_skicentre" />
        </activity>  
        
        <activity android:name=".activities.DetailActivity" android:label="@string/app_name" />
        <activity android:name=".activities.SettingsActivity" android:label="@string/app_name" />
        <activity android:name=".activities.HelpActivity" android:label="@string/app_name" />
        
        <provider android:name=".content.CustomSuggestionProvider" android:authorities="net.skimap.content.CustomSuggestionProvider" />
    </application>    
</manifest>
